/*  *******************
    ** HUSK BACKBONE **
    ******************* */

/* Normalize Padding Behavior Site Wide */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Column Floats & Padding */
[class*='col-'] {
  float: left;
  padding: 0.625rem;
}

/* Floats last ".col-" to the right */
[class*='col-']:last-of-type {
  padding: 0.625rem;
  float: right;
}

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Define Default Column Widths */
.col-1 {width: 8.333333333333332%;}
.col-2 {width: 16.666666666666664%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333333333333%;}
.col-5 {width: 41.66666666666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333333333336%;}
.col-8 {width: 66.66666666666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333333333334%;}
.col-11 {width: 91.66666666666666%;}
.col-12 {width: 100%;}


/* Page Container */
.container {
  max-width: 57rem;
  margin: auto;
  padding: 0rem 0.9375rem;
}

/* Desktop CSS Styles */
@media only screen and (min-width: 881px) {
  /* 
    Place Holder
  */
}

/* Tablet CSS Styles */
@media only screen and (max-width: 880px) {
  .md-1 {width: 8.333333333333332%;}
  .md-2 {width: 16.666666666666664%;}
  .md-3 {width: 25%;}
  .md-4 {width: 33.33333333333333%;}
  .md-5 {width: 41.66666666666667%;}
  .md-6 {width: 50%;}
  .md-7 {width: 58.333333333333336%;}
  .md-8 {width: 66.66666666666666%;}
  .md-9 {width: 75%;}
  .md-10 {width: 83.33333333333334%;}
  .md-11 {width: 91.66666666666666%;}
  .md-12 {width: 100%;}

}

/* Mobile CSS Styles */
@media only screen and (max-width: 680px) {
  /* Default to full width */
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }

  /* Or make specific rules for mobile */
  .sm-1 {width: 8.333333333333332%;}
  .sm-2 {width: 16.666666666666664%;}
  .sm-3 {width: 25%;}
  .sm-4 {width: 33.33333333333333%;}
  .sm-5 {width: 41.66666666666667%;}
  .sm-6 {width: 50%;}
  .sm-7 {width: 58.333333333333336%;}
  .sm-8 {width: 66.66666666666666%;}
  .sm-9 {width: 75%;}
  .sm-10 {width: 83.33333333333334%;}
  .sm-11 {width: 91.66666666666666%;}
  .sm-12 {width: 100%;}


  /* Page Container */
  .container {
    padding: 0rem 0rem;
    margin: 0rem 0.9375rem;
    width: 100%;
  }
}